In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series 
df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                 'data1': range(7)
                })
df2 = DataFrame({'key': ['a', 'b', 'c'],
                'data2': range(3)})
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [3]:
pd.merge(df1, df2, on='key')

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0
6      3   c      2

In [12]:
data = DataFrame({'food': [
    'beacon', 'pulled pork', 'beacon', 'Pastrami', 'corned beef',
    'Beacon', 'pastrami', 'honey ham', 'nova lox'], 'ounces': [4,3,12,6,7.5, 8, 3, 5, 6]}
                )


data

          food  ounces
0       beacon     4.0
1  pulled pork     3.0
2       beacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5       Beacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [13]:
meat_to_animal = {
    'beacon': 'pig',
    'pulled pork': 'pig',
    'pastrami': 'cow',
    'corned beef': 'cow',
    'honey ham': 'pig',
    'nova lox': 'salmon'
}
data['animal'] = data['food'].map(lambda x: meat_to_animal[x.lower()])

In [14]:
data

          food  ounces  animal
0       beacon     4.0     pig
1  pulled pork     3.0     pig
2       beacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5       Beacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [15]:
data = Series([1., -999., 2., -999., -1000., 3.])

In [16]:
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [17]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [18]:
ages = [20,22,25,27,21,23,37,31,61,45,41,32]

bins = [18,25,35,60, 100]

cats = pd.cut(ages, bins)

In [19]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [20]:
cats.labels

/Users/tomoakitsuruta/.pyenv/versions/3.6.1/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'labels' is deprecated. Use 'codes' instead
  """Entry point for launching an IPython kernel.

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [21]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64